<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Empire</th>
      <th>Origin</th>
      <th>From</th>
      <th>To</th>
      <th>calc_duration</th>
      <th>years_ago_ended</th>
      <th>years_to_inflection</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Safavid dynasty</td>
      <td>Persia</td>
      <td>1501</td>
      <td>1736</td>
      <td>235</td>
      <td>284</td>
      <td>-49</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Georgian Empire</td>
      <td>Georgia</td>
      <td>1008</td>
      <td>1490</td>
      <td>482</td>
      <td>530</td>
      <td>-48</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Zulu Empire</td>
      <td>South Africa</td>
      <td>1818</td>
      <td>1897</td>
      <td>79</td>
      <td>123</td>
      <td>-44</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Mali Empire</td>
      <td>West Africa</td>
      <td>1235</td>
      <td>1610</td>
      <td>375</td>
      <td>410</td>
      <td>-35</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Mughal Empire</td>
      <td>India</td>
      <td>1526</td>
      <td>1758</td>
      <td>232</td>
      <td>262</td>
      <td>-30</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Toungoo dynasty</td>
      <td>Toungoo</td>
      <td>1510</td>
      <td>1752</td>
      <td>242</td>
      <td>268</td>
      <td>-26</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Italian Empire</td>
      <td>Italy</td>
      <td>1885</td>
      <td>1943</td>
      <td>58</td>
      <td>77</td>
      <td>-19</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Sokoto Caliphate</td>
      <td>West Africa</td>
      <td>1804</td>
      <td>1903</td>
      <td>99</td>
      <td>117</td>
      <td>-18</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Bamana Empire</td>
      <td>West Africa</td>
      <td>1712</td>
      <td>1861</td>
      <td>149</td>
      <td>159</td>
      <td>-10</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Duchy of Savoy</td>
      <td>Savoy</td>
      <td>1416</td>
      <td>1713</td>
      <td>297</td>
      <td>307</td>
      <td>-10</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Omani Empire</td>
      <td>Oman</td>
      <td>1698</td>
      <td>1856</td>
      <td>158</td>
      <td>164</td>
      <td>-6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Konbaung dynasty</td>
      <td>Myanmar</td>
      <td>1752</td>
      <td>1885</td>
      <td>133</td>
      <td>135</td>
      <td>-2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Belgian colonial empire</td>
      <td>Belgium</td>
      <td>1901</td>
      <td>1962</td>
      <td>61</td>
      <td>58</td>
      <td>3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Empire of Japan</td>
      <td>Japan</td>
      <td>1868</td>
      <td>1947</td>
      <td>79</td>
      <td>73</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Pahlavi dynasty</td>
      <td>Persia</td>
      <td>1925</td>
      <td>1979</td>
      <td>54</td>
      <td>41</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <td>British Raj</td>
      <td>Indian Subcontinent</td>
      <td>1858</td>
      <td>1947</td>
      <td>89</td>
      <td>73</td>
      <td>16</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Empire of Great Fulo</td>
      <td>Senegal</td>
      <td>1514</td>
      <td>1776</td>
      <td>262</td>
      <td>244</td>
      <td>18</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Kingdom of Prussia</td>
      <td>Germany</td>
      <td>1701</td>
      <td>1871</td>
      <td>170</td>
      <td>149</td>
      <td>21</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Lakota people</td>
      <td>Great Plains</td>
      <td>1700</td>
      <td>1877</td>
      <td>177</td>
      <td>143</td>
      <td>34</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Qajar dynasty[citation needed]</td>
      <td>Persia</td>
      <td>1794</td>
      <td>1925</td>
      <td>131</td>
      <td>95</td>
      <td>36</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Khmer Empire</td>
      <td>Cambodia</td>
      <td>802</td>
      <td>1431</td>
      <td>629</td>
      <td>589</td>
      <td>40</td>
    </tr>
  </tbody>
</table>